.timer-page{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    padding:60px;

}

.timer-card{

    width:600px;

    padding:50px;

    border-radius:25px;

    background:rgba(255,255,255,.08);

    backdrop-filter:blur(18px);

    border:1px solid rgba(255,255,255,.15);

    text-align:center;

}

.timer-card h1{

    color:white;

    margin-bottom:10px;

}

.timer-card p{

    color:#ffe5f4;

    margin-bottom:40px;

}

#timerDisplay{

    font-size:90px;

    font-weight:bold;

    color:white;

    margin:40px 0;

}

.timer-buttons{

    display:flex;

    justify-content:center;

    gap:20px;

}

.timer-buttons button{

    padding:14px 30px;

    border:none;

    border-radius:15px;

    cursor:pointer;

    background:#ec4899;

    color:white;

    font-size:16px;

    transition:.3s;

}

.timer-buttons button:hover{

    transform:translateY(-3px);

    background:#db2777;

}

/*no-spam*/
button:disabled{

    opacity:.5;

    cursor:not-allowed;

}