<div id="sidebar">

    <h2 class="logo">
        ✨ Productive
    </h2>

    <nav>

        <a href="../index.html" class="sidebar-link">
            <i class="ri-home-5-line"></i>
            Dashboard
        </a>

        <a href="planner.html" class="sidebar-link">
            <i class="ri-calendar-line"></i>
            Daily Planner
        </a>

        <a href="tasks.html" class="sidebar-link">
            <i class="ri-checkbox-circle-line"></i>
            Tasks To Do
        </a>

        <a href="timer.html" class="sidebar-link">
            <i class="ri-timer-line"></i>
            Pomodoro Timer
        </a>

        <a href="streaks.html" class="sidebar-link">
            <i class="ri-fire-line"></i>
            Your Streaks
        </a>

        <a href="profile.html" class="sidebar-link">
            <i class="ri-user-line"></i>
            Your Profile
        </a>

    </nav>

</div>